.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 70px;
  & img{
    max-width:50%;
  }
}


.header__arrow {
  position: absolute;
  left: 20px;
}

